.FAQ-title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 120%;
    line-height: 39px;
    color: #000000;
    margin-top: 2%;
    text-align: center;
    color: #F05454;
}
.FAQ-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Style for FAQ headings */
.FAQ-container h1 {
    font-size: 36px;
    text-align: center;
    margin: 40px 0;
}

.FAQ-container h2 {
    font-size: 24px;
    margin: 30px 0 20px;
}

/* Style for FAQ lists */
.FAQ-container ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.FAQ-container li {
    margin-bottom: 10px;
}

/* style for each FAQ section */
.FAQ-container ul {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 30px;
}

/* color and style of the links */
.FAQ-container a {
    color: #0066cc;
    text-decoration: none;
    border-bottom: 1px dotted #0066cc;
}

.FAQ-container a:hover {
    color: #004080;
    border-bottom-style: solid;
}
